{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/series/csv/ubuntu?q=ats&w=vcx",
        "body": {
          "encoding": "UTF-8",
          "string": "date,value\n2332-02-29T02:20:11.000Z,53142\n2015-04-10T08:33:32.000Z,53342\n1983-08-02T06:46:53.000Z,53242\n"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "text/csv"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:54 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}