{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"test_entity\",\"enabled\":true}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:43 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/series/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"test_entity\",\"metric\":\"m1\",\"data\":[{\"d\":\"1970-01-12T13:46:40.000Z\",\"v\":100}]},{\"entity\":\"test_entity\",\"metric\":\"m2\",\"data\":[{\"d\":\"1970-01-12T13:46:40.000Z\",\"v\":100}]},{\"entity\":\"test_entity\",\"metric\":\"m3\",\"data\":[{\"d\":\"1970-01-12T13:46:40.000Z\",\"v\":100}]},{\"entity\":\"test_entity\",\"metric\":\"m4\",\"data\":[{\"d\":\"1970-01-12T13:46:40.000Z\",\"v\":100}]},{\"entity\":\"test_entity\",\"metric\":\"m5\",\"data\":[{\"d\":\"1970-01-12T13:46:40.000Z\",\"v\":100}]}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:43 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity/metrics",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"name\":\"m1\",\"enabled\":true,\"dataType\":\"FLOAT\",\"counter\":false,\"persistent\":true,\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"lastInsertDate\":\"1970-01-12T13:46:40.000Z\",\"versioned\":false},{\"name\":\"m2\",\"enabled\":true,\"dataType\":\"FLOAT\",\"counter\":false,\"persistent\":true,\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"lastInsertDate\":\"1970-01-12T13:46:40.000Z\",\"versioned\":false},{\"name\":\"m3\",\"enabled\":true,\"dataType\":\"FLOAT\",\"counter\":false,\"persistent\":true,\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"lastInsertDate\":\"1970-01-12T13:46:40.000Z\",\"versioned\":false},{\"name\":\"m4\",\"enabled\":true,\"dataType\":\"FLOAT\",\"counter\":false,\"persistent\":true,\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"lastInsertDate\":\"1970-01-12T13:46:40.000Z\",\"versioned\":false},{\"name\":\"m5\",\"enabled\":true,\"dataType\":\"FLOAT\",\"counter\":false,\"persistent\":true,\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"lastInsertDate\":\"1970-01-12T13:46:40.000Z\",\"versioned\":false}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:44 GMT"
    },
[...]
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:45 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}