{
  "http_interactions": [
    {
      "request": {
        "method": "patch",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/not_found_metric",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"not_found_metric\"}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"com.axibase.tsd.service.DictionaryNotFoundException: Metric 'not_found_metric' not found\"}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:49 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/another_one",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"another_one\",\"label\":\"Label 1\",\"dataType\":\"SHORT\"}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:49 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/another_one",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"name\":\"another_one\",\"enabled\":true,\"dataType\":\"SHORT\",\"counter\":false,\"label\":\"Label 1\",\"persistent\":true,\"tags\":{},\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"versioned\":false}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:49 GMT"
    },
[...]
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/another_one",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:49 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}