{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/series/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"IllegalArgumentException: Empty metric\"}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:54 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/series/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"ubuntu\",\"metric\":\"meminfo.active\",\"data\":[{\"d\":\"2015-04-01T10:59:34.000Z\",\"v\":1}]},{\"entity\":\"ubuntu\",\"metric\":\"meminfo.active\",\"data\":[{\"d\":\"2015-04-01T10:59:34.000Z\",\"v\":1}]},{\"entity\":\"ubuntu\",\"metric\":\"meminfo.active\",\"data\":[{\"d\":\"2015-04-01T10:59:34.000Z\",\"v\":1}]}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:54 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/series/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"ubuntu\",\"metric\":\"meminfo.active\",\"data\":[{\"d\":\"2015-04-01T10:59:34.000Z\",\"v\":1}]}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:54 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}