{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity2",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"test_entity2\",\"enabled\":true}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:58 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity2/property-types",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:58 GMT"
    },
[...]
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"test_entity\",\"enabled\":true}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:58 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"test_entity\",\"type\":\"type1\",\"tags\":{\"t\":\"v\"},\"key\":{\"k\":1}},{\"entity\":\"test_entity\",\"type\":\"type2\",\"tags\":{\"t\":\"v\"},\"key\":{\"k\":1}},{\"entity\":\"test_entity\",\"type\":\"type3\",\"tags\":{\"t\":\"v\"},\"key\":{\"k\":1}}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:58 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity/property-types",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[\"type1\",\"type2\",\"type3\"]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:58 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/delete",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"test_entity\",\"type\":\"type1\",\"key\":{\"k\":1}},{\"entity\":\"test_entity\",\"type\":\"type2\",\"key\":{\"k\":1}},{\"entity\":\"test_entity\",\"type\":\"type3\",\"key\":{\"k\":1}}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:58 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:59 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}