{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/query",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"startDate\":\"2015-04-01T10:59:34.000Z\",\"endDate\":\"2016-06-09T16:06:44+03:00\",\"entity\":\"prop_test_entity\",\"type\":\"prop_test_type\"}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"type\":\"prop_test_type\",\"entity\":\"prop_test_entity\",\"key\":{\"system\":\"system_name\",\"user\":\"user_name\"},\"tags\":{\"tag1\":\"tagvalue1\",\"tag2\":\"tagvalue2\"},\"date\":\"2016-06-09T13:06:43.374Z\"}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:06:44 GMT"
    },
[...]
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"prop_test_entity\",\"type\":\"prop_test_type\",\"key\":{\"system\":\"system_name\",\"user\":\"user_name\"},\"tags\":{\"tag1\":\"tagvalue1\",\"tag2\":\"tagvalue2\"}}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:37 GMT"
    },
[...]
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/delete",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"type\":\"prop_test_type\",\"entity\":\"prop_test_entity\",\"key\":{\"system\":\"system_name\",\"user\":\"user_name\"}}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:39 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}