{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/hhh",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"hhh\"}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:56 GMT"
    },
    {
      "request": {
        "method": "patch",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/hhh/entities",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"action\":\"add\",\"entities\":[{\"name\":\"r1\"},{\"name\":\"r2\"}]}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:56 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/hhh/entities",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"name\":\"r3\",\"enabled\":true},{\"name\":\"r4\",\"enabled\":true}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:57 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/hhh",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:57 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}