{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/meminfo.active/entity-and-tags",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"metric\":\"meminfo.active\",\"entity\":\"25944e8aa09d\",\"tags\":{},\"lastInsertDate\":\"2016-06-09T09:44:39.000Z\"},{\"metric\":\"meminfo.active\",\"entity\":\"ubuntu\",\"tags\":{},\"lastInsertDate\":\"2015-04-01T10:59:34.000Z\"}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:51 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}