{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"test_entity\",\"enabled\":false}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:45 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/test_entity",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"com.axibase.tsd.service.DictionaryNotFoundException: Entity not found for name 'test_entity'\"}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:45 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities/entity404",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:45 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}