{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/uuu",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"uuu\"}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:05 GMT"
    },
    {
      "request": {
        "method": "patch",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/uuu/entities",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"action\":\"add\",\"entities\":[{\"name\":\"e4\"},{\"name\":\"e6\"}]}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:05 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/uuu/entities",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:06 GMT"
    },
[...]
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/iii",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"iii\"}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:06 GMT"
    },
    {
      "request": {
        "method": "patch",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/iii/entities",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"action\":\"add\",\"entities\":[{\"name\":\"e4\"},{\"name\":\"e6\"}]}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:06 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/iii/entities",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"name\":\"e6\",\"enabled\":true}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:07 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/iii",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:07 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}