{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/404_not_found",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 500,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"org.springframework.web.HttpRequestMethodNotSupportedException: Request method 'GET' not supported\"}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:01 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}