{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/eg7",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"eg7\"}"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:01 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"name\":\"ITM - Linux OS\",\"expression\":\"hasMetric('klzsys.system_load_1min')\"},{\"name\":\"VMware Clusters\",\"expression\":\"properties('vmware.cluster').size() > 0\"},{\"name\":\"VMware Hosts\",\"expression\":\"properties('vmware.host').size() > 0\"},{\"name\":\"VMware VMs\",\"expression\":\"properties('vmware.vm').size() > 0\"},{\"name\":\"apache-activemq-brokers\",\"expression\":\"properties('broker').size() > 0\"},{\"name\":\"apache-derby-databases\",\"expression\":\"properties('jmx.derby.version').size() > 0\"},{\"name\":\"aw[...]
[...]
    {
      "request": {
        "method": "delete",
        "uri": "http://hbs.axibase.com:32816/api/v1/entity-groups/eg9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:45:02 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}