{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/meminfo.cached",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"name\":\"meminfo.cached\",\"enabled\":true,\"dataType\":\"FLOAT\",\"counter\":false,\"persistent\":true,\"tags\":{},\"timePrecision\":\"MILLISECONDS\",\"retentionInterval\":0,\"invalidAction\":\"NONE\",\"lastInsertDate\":\"2016-06-09T09:44:39.000Z\",\"versioned\":false}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:50 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/metrics/not_found_metric",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"com.axibase.tsd.service.DictionaryNotFoundException: Metric 'not_found_metric' not found\"}"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:50 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}