{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://hbs.axibase.com:32816/api/v1/entities",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"name\":\"25944e8aa09d\",\"enabled\":true,\"lastInsertDate\":\"2016-06-09T13:10:42.000Z\"},{\"name\":\"atsd\",\"enabled\":true,\"lastInsertDate\":\"2016-06-09T13:10:41.984Z\"},{\"name\":\"e1\",\"enabled\":true},{\"name\":\"e2\",\"enabled\":true},{\"name\":\"e3\",\"enabled\":true},{\"name\":\"e4\",\"enabled\":true},{\"name\":\"e5\",\"enabled\":true},{\"name\":\"e6\",\"enabled\":true},{\"name\":\"e8\",\"enabled\":true},{\"name\":\"e9\",\"enabled\":true},{\"name\":\"prop_test_entity\",\"enabled\":true},{\"name\":\"r1\",\"enabled\":true},{\"name\":\"r2\",\"enabled\":true},{\"name\":\"r3\",\"enabled\":true},{\"name\":\"r4\",\"enabled\":true},{\"name\":\"ubuntu\",\"enabled\":true,\"lastInsertDate\":\"2332-02-29T02:20:11.000Z\"}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:47 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}