{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/series/query",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"ubuntu\",\"metric\":\"meminfo.active\",\"startDate\":\"2015-04-01T10:59:34.000Z\",\"endDate\":\"2015-04-01T10:59:35.000Z\"}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[{\"entity\":\"ubuntu\",\"metric\":\"meminfo.active\",\"tags\":{},\"type\":\"HISTORY\",\"aggregate\":{\"type\":\"DETAIL\"},\"data\":[{\"d\":\"2015-04-01T10:59:34.000Z\",\"v\":1}]}]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 13:10:53 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}