{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/insert",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"YYFSWGVG\",\"type\":\"other_type\",\"key\":{\"system\":\"system_name\",\"user\":\"user_name\"},\"tags\":{\"tag1\":\"tagvalue1\",\"tag2\":\"tagvalue2\"}}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:15:36 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/delete",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"entity\":\"YYFSWGVG\",\"type\":\"other_type\",\"key\":{\"system\":\"system_name\",\"user\":\"user_name\"}}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:15:36 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/query",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"startDate\":\"2015-04-01T10:59:34.000Z\",\"endDate\":\"2016-06-09T12:15:36+03:00\",\"entity\":\"YYFSWGVG\",\"type\":\"other_type\"}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:15:36 GMT"
    },
[...]
    {
      "request": {
        "method": "post",
        "uri": "http://hbs.axibase.com:32816/api/v1/properties/query",
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"startDate\":\"2015-04-01T10:59:34.000Z\",\"endDate\":\"2016-06-09T12:44:53+03:00\",\"entity\":\"prop-test-entity\",\"type\":\"other_type\"}]"
        },
        "headers": {
          "Authorization": [
            "Basic YXhpYmFzZTpheGliYXNl"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[]"
        },
      },
      "recorded_at": "Thu, 09 Jun 2016 09:44:53 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}